p {
 
}

body {
   
}

nav {
    text-align: center;
}

flex-container {
    display: flex;
    flex-direction: row;
}

nav a {
    text-decoration: none;
    font-family: cursive;
    padding: 1em;
}

nav a:hover {
   font-family: cursive;
   color: black;
   font-family: fantasy;
}

.store-logo {
    margin: auto;
    align-content: center;
    text-align: center;
}
